

<html>
    
    <style>   
    

body {
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color:white;
}
         
/* === Login styles === */
.login {
  position: relative;
  margin: 100px auto;
  width: 370px;
  height: 235px;
  background: black;
  border-radius: 3px;
}
.login:before {
  content: '';
  position: absolute;
  top: -18px;
  right: -18px;
  bottom: -18px;
  left: -18px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9px;
}

    </style>
  <body background="backg.jpg">

      
      
    <head>
    	<title>Update a students grade</title>
	</head>
	<body>
        <pre> <center><h1>Vulnerable Grades Management System</h1></center></pre>
        <center><h2>Edit or add a student's record</h2></center> 
        
      
		<form class="login" method="post" action="/controller/editor.php">
            <fieldset>
            <dl>
                  <b><dt>Student ID</dt></b>
        
					<dd>
			<input type="text" name="id">
			<br/><br/>
                </dd>  
                  <b><dt>Course ID</dt></b>
        
					<dd>
			<input type="text" name="courseid">
                        <br/><br/>
			</dd>
                 <b><dt>Grade</dt></b>
				<dd>
                    <input type="text" name="grade"></dd>
                    </dl>
			<button type="submit" name="submit">Submit</button>
            </fieldset>
		</form>
          
	</body>
</html>