<html>
	<head>
	<title> 
        Vulnerable Grades Management System</title>
	</head>
    
     <style>   
    

body {
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color:white;
   
}


         
/* === Login styles === */
.login {
  position: relative;
  margin: 100px auto;
  width: 370px;
  height: 175px;
  background: black;
  border-radius: 3px;
}
.login:before {
  content: '';
  position: absolute;
  top: -18px;
  right: -18px;
  bottom: -18px;
  left: -18px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9px;
}

    </style>

    
    
    
    <body background="backg.jpg">

	<body>	
       
       <pre> <center><h1>Vulnerable Grades Management System</h1></center></pre>
        <center><h2>Log In as a student</h2></center>
		<form class="login" action="/controller/login.php" method="post">
			<fieldset>
                 
				<dl>
                  <b><dt>Name</dt></b>
        
					<dd>
					<input type="text" name="name" />
                         <br/><br/>
					</dd>
                 <b><dt>Password</dt></b>
					<dd>
						<input type="password" name="password" />
                      
					</dd>
                         
				</dl>
				<input type="submit" value="Log in" name="submit"/>
			</fieldset>
		
        </form>
	</body>
</html>